.App {
  text-align: center;
}

body {
  background-color: #202020;
  color: white;
}

.headerImg {
  width: 100%;
  top: 0;
  left: 0;
  border: 0px;
  box-shadow: none;
  margin: 0px;
}

.articleImg {
  max-width: 500px;
}

.postImg {
  max-width: 500px;
}

div.signUp {
  max-width: 500px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}

div.signIn {
  max-width: 500px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}


h1, h2 {
  padding: 20px 0px;
}

p {
  margin: 10px;
}

button {
  margin: 30px 0 30px 0;
}

.articles {
  max-width: 900px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}

.articleItem {
  max-width: 900px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}

.posts {
  max-width: 900px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}

.postItem {
  max-width: 900px;
  align-items: center;
  padding: 10px 0px;
  margin: auto;
}


footer {
  background-color: #282c34;
  margin: 0px;
  padding: 20px 0px;
}

/*--------- Navigation -------------*/

nav {
  background-color: #282c34;
  display: flex;
  justify-content: space-evenly;
  word-wrap: normal;
  align-items: center;
}

.navigation {
  background-color: #282c34;
  word-wrap: normal;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link{
  text-decoration: none !important;
  color: #6781BB;
}

a:-webkit-any-link { color: #6781BB }

a:hover {
  color: #FE9E96;
}


/*--------- iPad Responsiveness -------------*/

@media all and (max-width: 770px) {
  .app {
    display: flex;
    flex-wrap: wrap;
  }

  .links {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h1, h2 {
    flex-wrap: wrap;
  }

}

/*--------- iPhone Responsiveness -------------*/

@media all and (max-width: 400px) {
  .app {
    display: flex;
    flex-wrap: wrap;
  }

  a:link {
    margin: 2%;
    font-size: 12px;
  }

  .links {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h1, h2 {
    word-wrap: break-word;
  }

}